<div>Biznas.io</div>
<nav>
    <!--<span><a [routerLink]=" ['./'] ">Home</a></span>  |-->
    <!--<span><a [routerLink]=" ['./home'] ">Home</a></span>  |-->
    <!--<span><a [routerLink]=" ['./detail'] ">Detail</a></span>  |-->
    <span><a [routerLink]=" ['/main'] ">Home</a></span>  |
    <span><a [routerLink]=" ['/platform'] ">Platform</a></span>  |
    <span><a [routerLink]=" ['/process'] ">Process</a></span>  |
    <span><a [routerLink]=" ['/projects'] ">Projects</a></span>  |
    <span><a [routerLink]=" ['/about'] ">About</a></span>  |
    <span><a href="https://blog.biznas.io" target="_blank">Blog</a></span>  |
    <span><a href="mailto:info@biznas.io?subject=General%20Inquiry">Contact</a></span>

</nav>

